    .topicos h2{
        font-family: "Open Sans", sans-serif;
        margin: 50px 100px 0px 200px;
        color: #7F7F7F;
    }
    .slider{
        border-radius: 10px;
        box-shadow: 0 10px 20px rgb(103, 103, 103);
        position: relative;
        margin: 30px auto 80px;
        width: 800px;
        height: fit-content;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
    .slides input{
        display: none;
    }
    .slide{
        width: 25%;
        position: relative;
        transition: 1s;
    }
    .slide img{
        width: 800px;
        border-radius: 10px;
    }
    .manual-navigation{
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
    .manual-btn{
        border: 2px solid #FFF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    .manual-btn:hover{
        background-color: #fff;
    }
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -25%;
    }
    #radio3:checked ~ .first{
        margin-left: -50%;
    }
    #radio4:checked ~ .first{
        margin-left: -75%;
    }
    .navigation-auto div{
        border: 2px solid #20a6ff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    label{
        display: block;
    }
    .navigation-auto{
        position: absolute;
        width: 800px;
        margin-top: 360px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }
    #radio1:checked ~ .navigation-auto > .auto-btn1{
        background-color: #fff;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #fff;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #fff;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: #fff;
    }
    .navigation{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        margin: 40px 20px 80px;
        text-decoration: none;
        justify-content: center;
    }
    .navigation ul li{
        font-size: 25px;
        font-family: "Open Sans", sans-serif;
        color: white;
        background: #DDA0DD;
        box-shadow: 0px 1px 5px #d197d1;
        display: inline;
        padding: 20px 25px;
        border-radius: 5px;
        margin-right: 20px;
        transition: 0.5s;
    }
    .navigation ul li:hover{
        box-shadow: 0px 1px 15px #d197d1;
        transition: 0.5s;
    }
    .navigation ul a{
        text-decoration: none;
        color: white;
    }
    
    .container_trends{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60vh;
        color: white;
        font-family: "Open Sans", sans-serif;
    }
    .data{
        color: #DDA0DD;
        font-size: 15px;
    }
    .card{
        transition: 0.55s ease-in-out;
        background-image: linear-gradient(#333, #333);
        overflow: hidden;
        margin: 25px;
        border-radius: 15px;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .card:hover{
        box-shadow: 0 5px 10px rgb(103, 103, 103);
        transition: 0.4s;
    }
    .card .image{
        transition: 0.55s ease-in;
        background-image: url('../img/museudoipiranga.jpeg');
        background-position: center;
        background-size: cover;
        width: 360px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card .image2{
        transition: 0.55s ease-in;
        background-image: url('../img/museudoamanha.jpeg');
        background-position: center;
        background-size: cover;
        width: 360px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card .image3{
        transition: 0.55s ease-in;
        background-image: url('../img/festivalafropunk.jpeg');
        background-position: center;
        background-size: cover;
        width: 360px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card .content{
        padding: 20px;
    }
    .card .content .title{
        font-size: 24px;
        
    }
    .card .content .desc{
        font-size: 14px;
        font-weight: 100;
        opacity: 0.7;
        margin-top: 11px;
    }

.slide-container{
   margin-top: 30px;
   max-width: 1120px;
   width: 100%;
   padding: 40px 0;
}
.slide-content{
   margin: 0 40px; 
}
.card-capitais{
    width: 320px;
    border-radius: 25px;
    background-color: rgb(245, 242, 242);
}
.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #edcaed;
    border-radius: 25px 25px 0 25px;
}
.overlay::before, .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #edcaed;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: rgb(245, 242, 242);
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #FFF;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #DDA0DD
}
.name{
    font-size: 20px;
    color: #5d5d5d;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 10px;
}
.description{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: dimgrey;
    text-align: center;
    margin-top: 7px;
}
.btn-cap{
    border: 1px solid #DDA0DD;
   font-size: 15px;
   color: #DDA0DD;
   cursor: pointer;
   margin: 20px 120px;
   align-items: center;
   padding: 15px 10px 15px 10px;
   text-decoration: none;
   border-radius: 10px;
}
.btn-cap:hover{
    transition: ease-in-out;
    color: white;
    text-decoration: none;
    background-color: #DDA0DD;
    transition: 0.55s;
  }

.container-table{
    transition: 0.4s;
    font-family: "Open Sans", sans-serif;
    color: dimgrey;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    background-color: rgb(245, 242, 242);
    padding: 2px 0;
    border-radius: 10px;
    margin: 30px auto 80px;
}
.container-table:hover{
    box-shadow: 0 5px 10px rgb(196, 193, 193);
    transition: 0.4s;
}
.container-table th{
    transition: 0.4s;
    padding: 15px 10px 10px;
    color: #5d5d5d;
    font-size: 20px;
    text-align: left;
}
.container-table td{
    padding: 0 12px 15px;
    line-height: 1.4;
}
.container-table .button-table{
   border: 1px solid #DDA0DD;
   font-size: 15px;
   color: #DDA0DD;
   cursor: pointer;
   align-items: center;
   padding: 15px 10px 15px 10px;
   text-decoration: none;
   border-radius: 10px;
}
.container-table .button-table:hover{
    transition: ease-in-out;
    color: white;
    text-decoration: none;
    background-color: #DDA0DD;
    transition: 0.55s;
  }
.container-table .table-icon{
    width: 150px;
} 
.container-table .table-icon1{
    width: 120px;
    
}   

.swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets, .swiper-pagination-horizontal{
    color: #edcaed !important;
    position: static !important; 

}
.swiper-pagination-bullet-active{
    background: #DDA0DD !important;
}
.swiper-button-next, .swiper-button-prev{
    color:#edcaed !important;
}

.swiper-horizontal> .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    z-index: 10;
    overflow-y: visible;
    bottom: var(--swiper-pagination-bottom,-2px) !important;
}