    .topicos h2{
        font-family: "Open Sans", sans-serif;
        margin: 50px 100px 0px 200px;
        color: #7F7F7F;
    }
    .slider{
        border-radius: 10px;
        box-shadow: 0 10px 20px rgb(103, 103, 103);
        position: relative;
        margin: 30px auto 80px;
        width: 800px;
        height: fit-content;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
    .slides input{
        display: none;
    }
    .slide{
        width: 25%;
        position: relative;
        transition: 1s;
    }
    .slide img{
        width: 800px;
        border-radius: 10px;
    }
    .manual-navigation{
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
    .manual-btn{
        border: 2px solid #FFF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    .manual-btn:hover{
        background-color: #fff;
    }
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -25%;
    }
    #radio3:checked ~ .first{
        margin-left: -50%;
    }
    #radio4:checked ~ .first{
        margin-left: -75%;
    }
    .navigation-auto div{
        border: 2px solid #20a6ff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    label{
        display: block;
    }
    .navigation-auto{
        position: absolute;
        width: 800px;
        margin-top: 360px;
        display: flex;
        justify-content: center;
    }
    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }
    #radio1:checked ~ .navigation-auto > .auto-btn1{
        background-color: #fff;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #fff;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #fff;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: #fff;
    }
    .navigation{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        margin: 40px 20px 80px;
        text-decoration: none;
        justify-content: center;
    }
    .navigation ul li{
        font-size: 25px;
        font-family: "Open Sans", sans-serif;
        color: white;
        background: #DDA0DD;
        box-shadow: 0px 1px 5px rgb(103, 103, 103);
        display: inline;
        padding: 20px 25px;
        border-radius: 5px;
        margin-right: 20px;
    }
    .navigation ul li:hover{
        box-shadow: 0px 1px 1px rgb(103, 103, 103);
        transition: 0.2s;
    }
    .navigation ul a{
        text-decoration: none;
        color: white;
    }
    
    .container_trends{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60vh;
        color: white;
        font-family: "Open Sans", sans-serif;
    }
    .data{
        color: #DDA0DD;
        font-size: 15px;
    }
    .card{
        background-image: linear-gradient(#333, #333);
        overflow: hidden;
        margin: 25px;
        border-radius: 15px;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .card:hover{
        box-shadow: 0 5px 10px rgb(103, 103, 103);
        transition: 0.4s;
    }
    .card .image{
        background-image: url('../img/museudoipiranga.jpeg');
        background-position: center;
        background-size: cover;
        width: 360px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card .image2{
        background-image: url('../img/museudoamanha.jpeg');
        background-position: center;
        background-size: cover;
        width: 360px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card .image3{
        background-image: url('../img/festivalafropunk.jpeg');
        background-position: center;
        background-size: cover;
        width: 360px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card .content{
        padding: 20px;
    }
    .card .content .title{
        font-size: 24px;
        
    }
    .card .content .desc{
        font-size: 14px;
        font-weight: 100;
        opacity: 0.7;
        margin-top: 11px;
    }
.container3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-container{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
}
.card-container h2{
    display: flex;
    position: relative;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: white;
}
.card-image{
    margin: 40px 20px;
    overflow: hidden;
    height: 300px;
    background-size: cover;
}
.card-image:hover{
    box-shadow: 0 5px 10px rgb(103, 103, 103);
    transition: 0.4s;
}
.img1{
    border-radius: 10px;
    background-image: url(../img/salvador.jpg);
}
.img2{
    border-radius: 10px;
    background-image: url(../img/brasilia.jpg);
}
.img3{
    border-radius: 10px;
    background-image: url(../img/saopaulo.jpg);
}
.img4{
    border-radius: 10px;
    background-image: url(../img/curitiba.jpg);
}
