.container1{
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 0;
    
}
.banner-container{
    width: 100%;
    
}
.container-text{
    
    margin-left: 75px;
    display: flex;
}
.container-text span{
    
    margin-top: 9.9px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}
span i{
    font-weight: 400;
    font-size: 14px;
}
.container-text h5{
    transition: 0.7s ease;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    opacity: 0.9;
    color: white;
}
.container-text h5:hover{
    transition: 0.7s ease;
    background-color: #DDA0DD;
}
.container-text i{
    margin-top: 10px;
}
.banner-container h2{
    margin-top: 120px;
    display: flex;
    position: relative;
    height: fit-content;
    padding-left: 75px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    color: white;
}
.banner-container p{
    width: 70%;
    margin-top: 20px;
    font-weight: 200;
    display: flex;
    position: relative;
    height: fit-content;
    padding-left: 75px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
}
.banner-image{
    margin-top: 80px;
    overflow: hidden;
    height: 300px;
    background-size: cover;
}
.banner-image:hover{
    transition: 0.4s;
}
.img1{
    background-image: url(../img/bannerpurple.jpg);
}
.topicos h2{
    font-family: "Open Sans", sans-serif;
    margin: 50px 100px 0px 200px;
    color: #7F7F7F;
}
.container_trends{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    color: #333;
    font-family: "Open Sans", sans-serif;
}
.data{
    color: #DDA0DD;
    font-size: 15px;
}

.card{
    margin: 25px;
    height: 100%;
    background-image: linear-gradient(#FFF, #FFF);
    overflow: hidden;
    border-radius: 15px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 5px 10px rgb(103, 103, 103);
    transition: 0.4s;
}
.card .image, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9, .image10, .image11, .image12{
    margin-bottom: 0;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 170px;
}
.card .image{
    background-image: url('../img/beetlejuice.jpeg');
}
.card .image2{
    background-image: url('../img/donasonia.jpeg');
}
.card .image3{
    background-image: url('../img/renatoalbani.jpeg');
}
.card .image4{
    background-image: url('../img/historiasdoporchat.jpeg');
}
.card .image5{
    background-image: url('../img/vallen.jpeg');
}
.card .image6{
    background-image: url('../img/coldplay.jpeg');
}
.card .image7{
    background-image: url('../img/umadeclaracaodeamor.jpeg');
}
.card .image8{
    background-image: url('../img/defante.jpeg');
}
.card .image9{
    background-image: url('../img/brunalouise.jpeg');
}
.card .image10{
    background-image: url('../img/djava.jpeg');
}
.card .image11{
    background-image: url('../img/adriana.jpeg');
}
.card .image12{
    background-image: url('../img/deiveleonardo.jpeg');
}

.card .content{
    overflow: hidden;
    padding: 20px;
}
.card .content .title{
    font-size: 24px;
    
}
.card .content .desc{
    font-size: 14px;
    font-weight: 100;
    opacity: 0.7;
    margin-top: 11px;
    padding-bottom: 20px;
}