body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
  
  .container {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #DDA0DD;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
    width: 380px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold; 
    font-size:18px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color:#c175c1;
  }
